/*********************************************************************************
 * 
 * Mic
 * 
 * @type: other
 *
**********************************************************************************/
.IKRA_clear{ width:100%; clear:both; height:1px; margin:0; padding:0; }



/*********************************************************************************
 * 
 * Masonry Loop
 * 
 * @type: Loop
 *
**********************************************************************************/
.IKRA_Masonry_Loop{  }
.IKRA_Masonry_Loop.IKML_Column_1 .IKRA_Masonry_Loop_child{ width:100%; }
.IKRA_Masonry_Loop.IKML_Column_2 .IKRA_Masonry_Loop_child{ width:50%; }
.IKRA_Masonry_Loop.IKML_Column_3 .IKRA_Masonry_Loop_child{ width:33.3333%; }
.IKRA_Masonry_Loop.IKML_Column_4 .IKRA_Masonry_Loop_child{ width:25%; }
.IKRA_Masonry_Loop.IKML_Column_5 .IKRA_Masonry_Loop_child{ width:20%; }
.IKRA_Masonry_Loop.IKML_Column_6 .IKRA_Masonry_Loop_child{ width:16.6666%; }
.IKRA_Masonry_Loop.IKML_Column_7 .IKRA_Masonry_Loop_child{ width:14.2857%; }
.IKRA_Masonry_Loop.IKML_Column_8 .IKRA_Masonry_Loop_child{ width:12.5%; }

.IKRA_Masonry_Loop .IKRAM_pagenav{ margin-top: 20px; }
.IKRA_Masonry_Loop .IKRAM_pagenav .page-numbers{ font-size: 12px; padding: 5px 10px; border: solid 2px #8B8B8B; font-weight: normal; line-height: 15px; color: #646464; }
.IKRA_Masonry_Loop .IKRAM_pagenav .page-numbers.current,
.IKRA_Masonry_Loop .IKRAM_pagenav .page-numbers:hover{ border-color: #F78E1E; color: #F78E1E; }


@media only screen and (max-width: 768px) {
	.IKRA_Masonry_Loop.IKML_Column_2 .IKRA_Masonry_Loop_child{ width:100%; }
	.IKRA_Masonry_Loop.IKML_Column_3 .IKRA_Masonry_Loop_child{ width:100%; }
	.IKRA_Masonry_Loop.IKML_Column_4 .IKRA_Masonry_Loop_child{ width:50%; }
	.IKRA_Masonry_Loop.IKML_Column_5 .IKRA_Masonry_Loop_child{ width:33.3333%; }
	.IKRA_Masonry_Loop.IKML_Column_6 .IKRA_Masonry_Loop_child{ width:33.3333%; }
	.IKRA_Masonry_Loop.IKML_Column_7 .IKRA_Masonry_Loop_child{ width:25%; }
	.IKRA_Masonry_Loop.IKML_Column_8 .IKRA_Masonry_Loop_child{ width:20%; }
}
@media only screen and (max-width: 480px) {
	.IKRA_Masonry_Loop.IKML_Column_2 .IKRA_Masonry_Loop_child,
	.IKRA_Masonry_Loop.IKML_Column_3 .IKRA_Masonry_Loop_child,
	.IKRA_Masonry_Loop.IKML_Column_4 .IKRA_Masonry_Loop_child,
	.IKRA_Masonry_Loop.IKML_Column_5 .IKRA_Masonry_Loop_child,
	.IKRA_Masonry_Loop.IKML_Column_6 .IKRA_Masonry_Loop_child,
	.IKRA_Masonry_Loop.IKML_Column_7 .IKRA_Masonry_Loop_child,
	.IKRA_Masonry_Loop.IKML_Column_8 .IKRA_Masonry_Loop_child{ width:100%; }
}





/*********************************************************************************
 * 
 * BigList Content
 * 
 * @type: Content
 *
**********************************************************************************/
.IKRA_BigList_content{  }
.IKRA_BigList_content_inner{  }
.IKRA_BigList_content .IKBLC_img{ float: left; margin-right: 30px; }
.IKRA_BigList_content .IKBLC_img img{  }
.IKRA_BigList_content .IKBLC_content{ overflow: hidden; }
.IKRA_BigList_content .IKBLC_title{ font-size: 24px; }
.IKRA_BigList_content .IKBLC_title a{ color: initial; }
.IKRA_BigList_content .IKBLC_text{  }
.IKRA_BigList_content .IKBLC_more{ color: inherit; }

@media only screen and (max-width: 768px) {
	.IKRA_BigList_content .IKBLC_img { float: none; margin-right: 0; margin-bottom: 25px; }
}




/*********************************************************************************
 * 
 * Banner Content
 * 
 * @type: Content
 *
**********************************************************************************/
.IKRA_Banner_content{ position: relative; }
.IKRA_Banner_content img{ width: 100%; }
.IKRA_Banner_content_inner{ 
	position: absolute; 
    z-index: 1; 
    margin: auto; 
    left:0; 
    height: 100%; 
    width: 100%; 
    background-color: rgba(0,0,0,0.5); 
    opacity:0;
    
    transition:All 0.5s linear;
    -webkit-transition:All 0.5s linear;
    -moz-transition:All 0.5s linear;
    -o-transition:All 0.5s linear;
}
.IKRA_Banner_content .IKBAC_caption{ height: 100%; text-align: center; }
.IKRA_Banner_content .IKBAC_caption span { height: 100%; vertical-align: middle; display: inline-block;}
.IKRA_Banner_content .IKBAC_caption_inner{ margin: 0; vertical-align: middle; display: inline-block; position: relative; width: 80%; text-align: center; }

.IKRA_Banner_content .IKBAC_title{ color: #fff; font-size: 20px; line-height: 26px; }
.IKRA_Banner_content .IKBAC_title a{ color: #fff !important; }
.IKRA_Banner_content .IKBAC_title a:hover{ text-decoration: none; }
.IKRA_Banner_content .IKBAC_subtitle{ color: #fff; }
.IKRA_Banner_content .IKBAC_text{ color: #fff; }
.IKRA_Banner_content .IKBAC_more{ color: #fff; border:solid 2px #fff; padding:10px 20px; }

.IKRA_Banner_content:hover .IKRA_Banner_content_inner{ opacity:1; }



/*********************************************************************************
 * 
 * Banner Popup Content
 * 
 * @type: Content
 *
**********************************************************************************/
.IKRA_Banner_Popup_content .IKBPC_image{  }
.IKRA_Banner_Popup_content .IKBPC_image img{ width:100%; }
.IKRA_Banner_Popup_content .IKBPC_caption{ font-size: 13px; text-align: left; display: block; color: inherit; font-weight: 400; }

.IKRA_Banner_Popup_content .IKBPC_content{ display:none; }

.IKRA_Banner_Popup_content_holder{ background-color: #fff; width: 100%; max-width: 900px; margin: 0 auto; }
.IKRA_Banner_Popup_content_holder .mfp-close{
	color: #FFF;
    font-size: 50px;
    border: 2px solid #fff;
    border-radius: 100%;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    right: 15px;
    top: 5px;
	background-color:rgba(0,0,0,0.8);
}
.IKRA_Banner_Popup_content_holder .IKBPC_holder{ padding:50px; }
.IKRA_Banner_Popup_content_holder .IKBPC_title{
	margin: 0;
    margin-bottom: 15px;
    background-color: #F78F1E;
    display: inline-block;
    color: #fff;
    padding: 10px 20px;
    font-size: 22px;
    font-weight: normal;
}
.IKRA_Banner_Popup_content_holder .IKBPC_media{ margin-bottom: 25px; }
.IKRA_Banner_Popup_content_holder .IKBPC_text{ }
